__pycache__/
*/__pycache__/
*.pyc
*.egg-info
build/
dist/
.pybuild/

debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.debhelper
debian/*.substvars

debian/.debhelper/*
debian/python-adpi/
debian/python3-adpi/
debian/python-adpi.*
debian/python3-adpi.*
debian/tmp/
