Source: python-adpi
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Uploaders: Masahiro Honda <honda@mechatrax.com>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.7),
               python3-smbus,
               python3-spidev,
               python3-setuptools,
               dh-python,
               debhelper-compat (= 12)
Standards-Version: 4.5.1
Vcs-Git: https://github.com/mechatrax/python-adpi.git
Vcs-browser: https://github.com/mechatrax/python-adpi
Homepage: https://mechatrax.com/

Package: python3-adpi
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-spidev, python3-smbus
Description: Python 3 module for ADPi family.
 This package contains python module to control ADPi family.
 .
 This package installs the library for Python 3.
