#!/usr/bin/make -f

export PYBUILD_NAME=adpi

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_install:
	python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb
	python3 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb
